[submodule "src/assets/scss/bootstrap-5.2.1"]
	path = src/assets/scss/bootstrap-5.2.1
	url = https://github.com/twbs/bootstrap.git
[submodule "WebSharedComponents"]
	path = WebSharedComponents
	url = git@github.com:OpenMagnetics/WebSharedComponents.git
[submodule "MagneticBuilder"]
	path = MagneticBuilder
	url = git@github.com:OpenMagnetics/MagneticBuilderApp.git