$light:     	#2a2a2a !default;
$white:     	#d4d4d4 !default;
$dark:     		#1a1a1a !default;
$primary:       #539796 !default;
$secondary:     #005f48 !default;
$info:        	#b18aea !default;
$success:       #00b6ff !default;
$warning:       #ffb94e !default;
$danger:        #ff8800 !default;
$border-color:  #539796 !default;

$popover-bg:                        $dark !default;

$popover-body-color:                $white !default;
$enable-responsive-font-sizes: 		true;

$accordion-icon-color:   #539796 !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1075px,
  xl: 1200px,
  xxl: 1400px
);


@import "./bootstrap-5.2.1/scss/bootstrap";

