$light:     	#f7f8fa !default;
$white:     	#262830 !default;
$dark:     		#ffffff !default;
$primary:       #0063a7 !default;
$secondary:     #787878 !default;
$info:        	#f09a3e !default;
$success:       #f09a3e !default;
$warning:       #0063a7 !default;
$danger:        #ff8800 !default;
$border-color:  #0063a7 !default;

$popover-bg:                        $dark !default;

$popover-body-color:                $white !default;
$enable-responsive-font-sizes: 		true;

$accordion-icon-color:   #0063a7 !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1075px,
  xl: 1200px,
  xxl: 1400px
);


@import "./bootstrap-5.2.1/scss/bootstrap";

