$light:     	#cfd8dc !default;
$white:     	#000000 !default;
$dark:     		#ffffff !default;
$primary:       #0084c5 !default;
$secondary:     #ffd600 !default;
$info:        	#004789 !default;
$success:       #004789 !default;
$warning:       #ff8800 !default;
$danger:        #ff8800 !default;
$border-color:  #0084c5 !default;

$popover-bg:                        $dark !default;

$popover-body-color:                $white !default;
$enable-responsive-font-sizes: 		true;

$accordion-icon-color:   #dd1a22 !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1075px,
  xl: 1200px,
  xxl: 1400px
);


@import "./bootstrap-5.2.1/scss/bootstrap";

